.cart {
  display: flex;
  height: max-content;
}
.cart__left {
  flex: 0.8;
}
.cart__right {
  flex: 0.2;
}
.cart__title {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.item__description {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem 1rem;
  align-items: center;
  margin: 0rem 1rem;
}
.item__infoCount {
  flex: 0.7;
}
.item__infoQty {
  flex: 0.14;
}

@media screen and(max-width: 768px) {
  .cart {
    flex-direction: column-reverse;
    align-items: center;
  }
}
